<h1>welcome to Bookers !!</h1>
<span>In <strong>Bookers</strong>,</span>

<p>you can share and exchange your opinions , inpressions , and emotions<br>
about varioius books!</p>

<div><%= link_to "Sing up", new_user_registration_path, class:"sign_up" %></div>
<div><%= link_to "Sing in", new_user_session_path, class:"sign_in" %></div>