/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
    @import "bootstrap-sprockets";
    @import "bootstrap";

.navbar-inverse {
	background-color: #222;
}
.navbar-fixd-top {
	top: 0;
}
.navbar-left {
	color: white;
}
.span {
	padding: 10px;
	text-decoration:none;
	color: #9d9d9d;
}
.span:hover{
	text-decoration:none;
	color: #666;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.new_form {
    margin-bottom: 5px;
    font-weight: bold;
}
div.field {
	margin-bottom: 10px;
}

.btn-primary {
	margin-top: 10px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    border-top-color: rgb(46, 109, 164);
    border-right-color: rgb(46, 109, 164);
    border-bottom-color: rgb(46, 109, 164);
    border-left-color: rgb(46, 109, 164);
}
